page-welcome {
    #welcome{
        background: color($colors, energy);
        h1{
            font-size: 45px;
            margin-top:47px;
        }
        .marginTop{
            margin-top:150px;
        }
        .logo{
            height: 200px;
        }
    }
    }
    